.MoviesGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    grid-column-gap: 1em;
    grid-row-gap: 1em;
}

.MovieGridItem {
    border: 1px solid #d4d4d4;
    position: relative;
    overflow: hidden;
}

.MovieGridItem:hover {
    cursor: pointer;
}

.MovieGridItem:active {
    transform: scale(0.98);
}

.MovieGridItemCover {
    width: 100%;
    display: block;
}

.MovieGridItem:hover .MovieGridItemCover {
    transform: scale(1.15);
    transition: all ease-in-out 250ms;
}

.MovieGridItemMeta {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 1em;
    background: rgba(0,0,0,0.85);
    color: white;
}

.MovieGridItemMeta h4 {
    padding: 0;
    margin: 0;
}

.MovieGridItemTitle {
    font-weight: bold;
}

.MovieGridItemRating {
    position: absolute;
    width: 100%;
    top:0;
    right: 0;
    color: gold;
    display: flex;
    font-weight: bold;
    align-items: center;
    justify-content: flex-end;
    background: rgb(0,0,0);
    background: linear-gradient(219deg, rgba(0,0,0,.5) 0%, rgba(255,255,255,0) 100%);
    padding: .25em;
    font-size: .9em;
}
.MovieGridItemRating .material-icons {
    margin-left: .5em;
    font-size: .9em;
}