* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', "Times New Roman", serif;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

fieldset {
    border: none;
}

fieldset label {
    display: block;
    margin-bottom: .25em;
}

fieldset input {
    display: block;
    width: 100%;
    font-size: 1em;
}

.sticky-top {
    position: sticky;
    top: 0;
}